.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--default-padding);
  padding-top: 50px;
  align-items: center;
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 15px;
  position: relative;
}
.screen-header__notification {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 2s linear infinite;
}
